@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    --background: #ffffff;
    --fondo: #0051ff;
    --color_subtitulos: #001238;
    --color_parrafos: #2e2e2e; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: #0051ff9d;
    backdrop-filter: blur(5px);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 20px; 
    text-decoration: none;
    font-weight: bolder;
    color: #FFF;
    font-size: 24px;
}

header nav ul {
    display: flex;
    margin: 0 20px; 
}

header nav ul li {
    padding: 20px;
    list-style: none;
}

header nav ul li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 1.5em;

}

.landing_home {
    background: var(--background);
    height: 100vh;
    background-image: url(../images/Background-LP.svg);
    background-size: 100% 110%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    max-width: 500px;
    padding: 20px;
}


.title p {
    color: var(--color_parrafos);
    margin: 30px 0;
}

.title h1 {
    font-size: 4em;
    font-weight: 700;
    color: var(--color_subtitulos);
    margin: 15px 0;
}

.title a {
    width: auto;
    padding: 10px 20px;
    text-decoration: none;
    background: var(--fondo);
    border: 1px solid var(--fondo);
    color: #FFFF;
    border-radius: 50px;
    font-size: 20px;

    transition: ease 500ms;
}

.title a:hover {
    background: transparent;
    border: 1px solid var(--fondo);
    color: var(--fondo);
}

.img_header {
    width: 100%;
    height: 100%;
    animation: move infinite 5s;
}

.img_iso {
    width: 150px;
    position: absolute;
    top: 70%;
    right: 100px;
    animation: iso infinite 3s;
}

@keyframes iso {
    0% {
        transform: translateY(0px);

    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.estandares {
    background: var(--fondo);
    color: #FFFF;
}

/* Subtitulos */
.subtitulos {
    color: var(--color_subtitulos);
    font-size: 3em;
    padding: 5px 0;
}

.parrafos {
    color: #272727;
    font-size: 1.5em;
    margin: 20px 0;
}

/* Introduccion */

.introduccion {
    background: var(--fondo);
    border-radius: 0 0 50px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text_introduccion h1 {
    color: #FFF;
    font-size: 3em;
    padding: 5px 0;
    border-bottom: 4px solid #FFF;
}

.text_introduccion p {
    color: #FFF;
    font-size: 1.5em;
    margin: 20px 0;
}

.text_introduccion {
    max-width: 1400px;
    padding: 0 0 70px 0;
}

/* Informacion */

.informacion {
    max-width: 1400px;
    margin: auto;
    padding: 6em 0;

    display: flex;
}

.info_normas {
    max-width: 70%;
    padding: 0 50px 0 0;
}

.normas {
    padding: 0 0 0 50px;
    border-left: 5px solid #00123842;
}

.normas h2 {
    font-size: 3em;
    margin: 0 0 20px 0;
}

.normas ul li {
    list-style: none;
}

.normas ul li a {
    color: #001238;
    text-decoration: none;
    font-size: 2em;
}

.normas ul li a:hover {
    text-decoration: underline #001238;
}